<desk-header xmlns="http://www.w3.org/1999/html"></desk-header>
<desk-menubar></desk-menubar>
<section class="financeWrapperContent">
    <form class="form-horizontal">
        <fieldset>
            <h3 class="text-center">Insert car</h3>
            <hr>
            <div class="col-md-5 col-md-offset-1">

            <div class="form-group">
                <label class="col-md-4 control-label" for="productName">Product Name</label>
                <div class="col-md-8">
                    <input id="productName" name="productName" ng-model="productName" placeholder="Product Name" class="form-control input-md" required="" type="text">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="model">Model</label>
                <div class="col-md-8">
                    <input id="model" name="model" placeholder="Model" class="form-control input-md" type="text" ng-model="model">
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="keyFeatures">Key Features</label>
                <div class="col-md-8">
                    <textarea class="form-control" id="keyFeatures" name="keyFeatures" ng-model="keyFeatures">Key Features</textarea>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="fuelType">Fuel Type</label>
                <div class="col-md-8">
                    <select id="fuelType" name="fuelType" class="form-control" ng-model="fueltype">
                        <option value="Petrol">Petrol</option>
                        <option value="Disale">Disale</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="engineSize">Engine Size</label>
                <div class="col-md-8">
                    <input id="engineSize" name="engineSize" ng-model="engineSize" placeholder="Engine Size" class="form-control input-md" type="text">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="status">Status</label>
                <div class="col-md-8">
                    <input id="status" name="status" placeholder="status" class="form-control input-md" type="text" ng-model="status">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="miles">Miles</label>
                <div class="col-md-8">
                    <input id="miles" name="miles" placeholder="Miles" class="form-control input-md" type="text" ng-model="miles">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="tax">Tax</label>
                <div class="col-md-8">
                    <input id="tax" name="tax" placeholder="Tax" class="form-control input-md" type="text" ng-model="tax">
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="type">Type</label>
                <div class="col-md-8">
                    <select id="type" name="type" class="form-control" ng-model="type">
                        <option value="Car">Car</option>
                        <option value="Van">Van</option>
                        <option value="Jeep">Jeep</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="colour">Colour</label>
                <div class="col-md-8">
                    <input id="colour" name="colour" placeholder="colour" class="form-control input-md" type="text" ng-model="colour">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="condition">Condition</label>
                <div class="col-md-8">
                    <input id="condition" name="condition" placeholder="Condition" class="form-control input-md" type="text" ng-model="condition">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="transmission">Transmission</label>
                <div class="col-md-8">
                    <input id="transmission" name="transmission" placeholder="Transmission" class="form-control input-md" type="text" ng-model="transmission">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="mileage">Mileage</label>
                <div class="col-md-8">
                    <input id="mileage" name="mileage" placeholder="Mileage" class="form-control input-md" type="text" ng-model="mileage">
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="safetyFeatures">Safety Features</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="safetyFeatures" name="safetyFeatures" ng-model="safetyFeatures">Safety Features</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="driveSide">Drive Side</label>
                    <div class="col-md-8">
                        <input id="driveSide" name="driveSide" placeholder="Drive Side" class="form-control input-md" type="text" ng-model="driveSide">
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="avalability">Avalability</label>
                    <div class="col-md-8">
                        <select id="avalability" name="avalability" class="form-control" ng-model="avalability">
                            <option value="Sold">Sold</option>
                            <option value="Avilabel">Avilabel</option>
                        </select>
                    </div>
                </div>


            </div>

            <div class="col-md-5">
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="vatType">Vat Type</label>
                    <div class="col-md-8">
                        <input id="vatType" name="vatType" placeholder="Vat Type" class="form-control input-md" type="text" ng-model="vatType">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Price">Price</label>
                    <div class="col-md-8">
                        <input id="Price" name="Price" placeholder="Price" class="form-control input-md" type="text" ng-model="Price">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="doors">Doors</label>
                    <div class="col-md-8">
                        <input id="doors" name="doors" placeholder="Doors" class="form-control input-md" type="text" ng-model="doors">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="previousOwners">Previous Owners</label>
                    <div class="col-md-8">
                        <input id="previousOwners" name="previousOwners" placeholder="Previous Owners" class="form-control input-md" type="text" ng-model="previousOwners">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="regMark">Reg Mark</label>
                    <div class="col-md-8">
                        <input id="regMark" name="regMark" placeholder="Reg Mark" class="form-control input-md" type="text" ng-model="regMark">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="manufacturer">Manufacturer</label>
                    <div class="col-md-8">
                        <input id="manufacturer" name="manufacturer" placeholder="Manufacturer" class="form-control input-md" type="text" ng-model="manufacturer">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="exterior">Exterior</label>
                    <div class="col-md-8">
                        <input id="exterior" name="exterior" placeholder="Exterior" class="form-control input-md" type="text" ng-model="exterior">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="metallicPaint">Metallic Paint</label>
                    <div class="col-md-8">
                        <input id="metallicPaint" name="metallicPaint" placeholder="Metallic Paint" class="form-control input-md" type="text" ng-model="metallicPaint">

                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="shortDescription">Short Description</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="shortDescription" name="shortDescription" ng-model="shortDescription">Short Description</textarea>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="interior">Interior</label>
                    <div class="col-md-8">
                        <input id="interior" name="interior" placeholder="Interior" class="form-control input-md" type="text" ng-model="interior">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="warrenty">Warrenty</label>
                    <div class="col-md-8">
                        <input id="warrenty" name="warrenty" placeholder="Warrenty" class="form-control input-md" type="text" ng-model="warrenty">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="carRegistrationDate">Car Registration Date</label>
                    <div class="col-md-8">
                        <input id="carRegistrationDate" name="carRegistrationDate" placeholder="Car Registration Date" class="form-control input-md" type="text" ng-model="carRegistrationDate">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="warrenty">Gear Type</label>
                    <div class="col-md-8">
                        <input id="gearType" name="gearType" placeholder="Gear Type" class="form-control input-md" type="text" ng-model="gearType">
                    </div>
                </div>

                <!-- File Button -->
                <form action='' enctype='multipart/form-data' method='post'>
                <div class="form-group">
                    <label class="col-md-4 control-label">File Button</label>
                    <div class="col-md-8">
                        <input name='file[]' type='file' id='image' multiple/>
                    </div>
                </div>
                    <div class="row" >
                        <ul id="imageView"></ul>
                    </div>
                </form>
                <!-- File Button
                <div class="form-group">
                    <label class="col-md-4 control-label" for="small250">File Button</label>
                    <div class="col-md-8">
                        <input id="small250" name="small250" class="input-file" type="file" ng-model="small250">
                    </div>
                </div>

                <!-- File Button
                <div class="form-group">
                    <label class="col-md-4 control-label" for="medium500">File Button</label>
                    <div class="col-md-8">
                        <input id="medium500" name="medium500" class="input-file" type="file" ng-model="medium500">
                    </div>
                </div>-->

            </div>

        </fieldset>
        <!-- Button (Double) -->
        <div class=" col-md-6 col-md-offset-6">
            <button id="button1id" name="button1id" class="btn btn-success" ng-click="inserCar()">Save</button>
            <button id="button2id" name="button2id" class="btn btn-danger">Cancel</button>
        </div>
        <div class="clearfix"></div>
    </form>

    <br>


</section>
<desk-footer></desk-footer>

