
.intro {
    display: table;
    width: 100%;
    padding: 100px 0;
    text-align: center;
    background: url(../images/header.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 599px;
}
.homeWrapperContent {
    display: block;
    padding: 10px 15px;
}
.carInfoForm {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin-top: 100px;
    border-radius:9px;
}
.carInfoFormleft{
    background:rgba(211, 175, 142, 0.1);
    padding: 10px;

}
.carInfoFormright{
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;

}
.carInfoFormright p{
    font-size: 14px;
    line-height: 30px;
}

#carInfoForm{
    padding: 5px;
}

#carInfoForm div{
    display: inline-block;
    width: 11.5%;
    margin: 0 3px;
}
.panel-body > p  a{
    color: darkred !important;
}
.selectBox{
    appearance: none;-webkite-appearance: none;-moz-appearance: none;-o-appearance: none;-ms-appearance: none;
    background: #f5f5f5 url('image-path') no-repeat right center;
    border: 1px solid #eeeeee;
    width:300px;
    height:40px;
    padding:10px;
}
.clickhere
{
    padding-top: 54px;
    padding-left: 279px;
    font-size: 15px;
    color: lightcyan !important;
    text-align: center;
}

/*---------------------------------------------------------------- Responsive*/

@media screen and (max-width: 480px){
    .carInfoForm{
        margin: 38px 0;
    }

    .homeWrapperContent {
        padding: 0;
        margin: 15px 0;
    }
    .homeWrapperContent p{
        margin: 15px 0;
        padding: 0 15px;
    }
    .menubar ul {
        margin-left: 0;
        margin-top: 0;
        padding: 0;
        list-style-type: none;
    }
}