.menubar {

    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}



.menubar ul {
    margin-left:199px;
    margin-top: -77px;
    padding: 0;
    list-style-type: none;
}

.menubar ul li {
    display: inline;
    float: left;
    padding: 6px 13px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    height:34px;
}

.menubar ul li:first-child {
    border-left: none;
    /*padding-left: 0;*/
}

.menubar ul li:last-child {
    border-right: none;
   /* padding-right: 0;*/
    float: right;
}

.menubar ul li:hover {
    color: #D3AF8E;
    background: #282629;
    margin: 0;
    border-bottom: 2px solid #CC3333;
}

.menubar ul li .megamenu {
    visibility: hidden;
    position: absolute;
    width: 100%;
    background: lightgray;
    left: 0;
    margin: 19px 0;
    z-index: 10;
    color: black;
    padding: 10px;
    -webkit-transition: visibility .2s ease-in-out;
    -moz-transition: visibility .2s ease-in-out;
    -o-transition: visibility .2s ease-in-out;
    -ms-transition: visibility .2s ease-in-out;
    transition: visibility .2s ease-in-out;
}
.menubar ul li .megamenu p a{
    color: black !important;
}

.megamenu p{
    font-size: 15px;
}

.menubar ul li div h3 {
    color: #CC3333;
}

.menubar ul li:hover .megamenu {
   /* color: #fff;*/
    visibility: visible;
    -webkit-transition: visibility .2s ease-in-out;
    -moz-transition: visibility .2s ease-in-out;
    -o-transition: visibility .2s ease-in-out;
    -ms-transition: visibility .2s ease-in-out;
    transition: visibility .2s ease-in-out;

}

.navbar-custom {
    margin-bottom: 0;
    background-color: black;
}

nav.navbar.shrink {
    min-height: 35px;
}

/*---------------------------------------------------------------- Responsive*/

@media screen and (max-width: 480px){
    .menubar ul li {
        width: 100%;
        border-right: none;
        margin-top: 2px;
    }
    .menubar ul li:last-child {
        border-bottom: none;
        /* padding-right: 0;*/
        float: right;
    }

    .menubar ul li:hover{
        background: none;
    }

    .megamenu {
        width: 100%;
        padding: 0px;
        display: block;
        position: relative;
    }

}
