<desk-header></desk-header>
<desk-menubar></desk-menubar>
<section class="contactWrapperContent">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel panel-heading"><h4>Location 1</h4></div>
                    <div class="panel-body">
                        <div class="col-md-5">
                            <address>
                                     <p>
                                    13 Thornton Heath<br>
                                    CR7 8RU<br>
                                    Croydon<br>
									07507482603<br>
									0203 302 6131</p>
                            </address>
                        </div>
                        <div class="col-md-7">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2489.28484226251!2d-0.0958569846645619!3d51.39782072653086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487606d2c994d1f1%3A0xbb04c7a006bd2561!2s13+High+St%2C+Thornton+Heath%2C+Greater+London+CR7+8RU%2C+UK!5e0!3m2!1sen!2sin!4v1455740931680" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel panel-heading"><h4>Location 2</h4></div>
                    <div class="panel-body">
                        <div class="col-md-5">
                            <address>
                                <p>
                                    136 Vicarage Road<br>
                                    London<br>
                                    E10 5DX<br>
									079 3044 1928
									</p>
                            </address>
                        </div>
                        <div class="col-md-7">
                           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2480.00694989196!2d-0.017700384657670914!3d51.5681061140844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761d90c6b7f3f1%3A0x34e2e122d14bd2a9!2s136+Vicarage+Rd%2C+London+E10+5DX%2C+UK!5e0!3m2!1sen!2sin!4v1455740739280" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<desk-footer></desk-footer>


