<header>

    <div class="shortcutButton text-center">

        <a id="menuButton" class="btn btn-primary" href="">Menu</a>
    </div>
    <div class="shortcut">
        <div class="container">

            <div class="col-md-pull-12">
                <div class="col-md-6"><a class="text-center logo" href="#/home"><img src="assets/images/autoCity.png" alt="Logo"/></a></div>
                <div class="col-md-6 font_white">

                    <p class="text-right signin ">13 Thornton Heath </p>
                    <p class="text-right ">CR7 8RU </p>
                    <p class="text-right ">Croydon </p>
                </div>
            </div>
        </div>
    </div>

</header>