<desk-header xmlns="http://www.w3.org/1999/html"></desk-header>
<desk-menubar></desk-menubar>
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="carInfoForm col-md-4">
                    <h3 class="text-center">Find new & used cars</h3>
                    <div class="row">
                        <form novalidate name="modelFilter">
                            <div>
                                <h4 class="text-center">FIND MAKE / MODEL</h4>
                                <div class="panel-body">
                                    <select class="select" name="filterlist" ng-model="filterlist" ng-options="y for y in filterData.model" required>
                                    </select>
                                </div>
                                <h4 class="text-center">VEHICLE PRICE</h4>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <input class="form-control"  ng-model="minPrice" name="minPrice" type="text" placeholder="0" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" ng-model="maxPrice" name="maxPrice" type="text" placeholder="0" required>
                                    </div>
                                    <a href="#/carList?criteria=model:{{filterlist}}&endIndex=100&max={{maxPrice}}&min={{minPrice}}&sort=&startIndex=0&status=&type=" class="btn btn-default btn-block material_btn material_btn_info" ng-hide="modelFilter.$invalid">Go</a>
                                </div>
                            </div>
                            </form>
                           <!-- <div class="col-md-12">
                                <div class="form-group">
                                    <div class="dropdown material_dropdown">
                                        <button class="dropdown-toggle material_dropdown_btn" type="button" id=""
                                                data-toggle="dropdown" aria-expanded="true">
                                            Distance(select)
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu material_dropdown_menu" role="menu"
                                            aria-labelledby="dropdownMenu1">
                                            <li>
                                                <input type="checkbox">
                                                <span> Within 1</span>
                                            </li>
                                            <li>
                                                <input type="checkbox">
                                                <span> Within 2</span>
                                            </li>
                                            <li>
                                                <input type="checkbox">
                                                <span> Within 3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="dropdown material_dropdown">
                                        <button class="dropdown-toggle material_dropdown_btn" type="button"
                                                id="dropdownMenu1"
                                                data-toggle="dropdown" aria-expanded="true">
                                            Show(select)
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu material_dropdown_menu" role="menu"
                                            aria-labelledby="dropdownMenu1">
                                            <li>
                                                <input type="checkbox">
                                                <span> Used</span>
                                            </li>
                                            <li>
                                                <input type="checkbox">
                                                <span> Nearly</span>
                                            </li>
                                            <li>
                                                <input type="checkbox">
                                                <span> New</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="dropdown material_dropdown">
                                        <button class="dropdown-toggle material_dropdown_btn" type="button"
                                                id="dropdownMenu1"
                                                data-toggle="dropdown" aria-expanded="true">
                                            Make(any)
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu material_dropdown_menu" role="menu"
                                            aria-labelledby="dropdownMenu1">
                                            <li>
                                                <input type="checkbox">
                                                <span> Used</span>
                                            </li>
                                            <li>
                                                <input type="checkbox">
                                                <span>Nearly</span>
                                            </li>
                                            <li>
                                                <input type="checkbox">
                                                <span> New</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="dropdown material_dropdown">
                                        <button class="dropdown-toggle material_dropdown_btn" type="button"
                                                id="dropdownMenu1"
                                                data-toggle="dropdown" aria-expanded="true">
                                            Model(any)
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu material_dropdown_menu" role="menu"
                                            aria-labelledby="dropdownMenu1">
                                            <li>
                                                <input type="checkbox">
                                                <span> Used</span>
                                            </li>
                                            <li>
                                                <input type="checkbox">
                                                <span> Nearly</span>
                                            </li>
                                            <li>
                                                <input type="checkbox">
                                                <span> New</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group materail_input_block">
                                        <input type="text" class="form-control materail_input" placeholder="postcode">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-default btn-block material_btn material_btn_xs material_btn_info "
                                            type="button"
                                            data-toggle="dropdown">
                                        save
                                    </button>
                                </div>
                                <p>Can’t find what you’re looking for? <span><a href=""
                                                                                style="color:maroon !important;">Click
                                    here</a></span> to fill our inquiry form</p>
                            </div>-->






                            <!--     <div class="col-md-12">
                                     <div class="form-group">
                                         <select class="form-control select">
                                             <option>Used</option>
                                             <option>Nearly</option>
                                             <option>New</option>
                                         </select>
                                     </div>
                                     <div class="form-group">
                                         <select class="form-control select">
                                             <option>Make</option>
                                             <option>Used</option>
                                             <option>Nearly</option>
                                             <option>New</option>
                                         </select>
                                     </div>
                                     <div class="form-group">
                                         <select class="form-control select">
                                             <option>Model</option>
                                             <option>Used</option>
                                             <option>Nearly</option>
                                             <option>New</option>
                                         </select>
                                     </div>

                                 </div>-->

                        </form>
                    </div>

                </div>


            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">

        <div class="carInfoFormright col-md-12">
            <p></p>
            <p class="text-justify">Welcome to Autos City, your own personal vehicle dealer. With over 3 years
                combined dealer experience
                and yours confidence in us, we as Autos City have built a great reputation on providing a courteous
                and
                honest services. The business is an independent, family run vehicle business offering first class
                service in a friendly environment, where the dedicated team take great pride in providing complete
                customer satisfaction.</p>
            <p class="text-justify">Our customers appreciate the way we do business, and we believe you will too.
                For your complete peace of
                mind we will ensure that the vehicle of your choice has been prepared and presented to exceed the
                expectations of the most demanding vehicle customer. We are proud to say that Autos City stocks a
                range
                of used vehicles that suits your budget and lifestyle.</p>
            <p class="text-justify"> Our dedicated team take great pride in providing complete customer
                satisfaction. The team members are
                also happy to source any vehicles if you cannot find what you're looking for within the current
                stocklist.</p>

        </div>


    </div>
</section>
<section class="homeWrapperContent">
    <div class="container">
        <ul class="list-group material_list_group maroon">
            <li class="list-group-item  maroon text-center"><b>Feature car</b></li>
        </ul>
        <div class="row">
            <div class="col-md-3" ng-repeat="productlist in productlist">
                <div class="panel panel-default">
                    <div class="thumbnail">
                        <a href="#/carDetail?productID={{productlist.productID}}">
                            <div class="caption">
                                <b></b>
                                <p><i class="fa fa-mobile"></i> {{productlist.colour}}, {{productlist.colour}} {{productlist.doors}} doors, {{productlist.transmission}}, {{productlist.fuelType}}</p>
                                <p><i class="fa fa-cube"></i> {{productlist.warrenty}}, VAT Type: {{productlist.vatType}}</p>
                                <p><i class="fa fa-arrow-right"></i> {{productlist.model}}</p>
                                <p><i class="fa fa-star"></i> Registration Date {{productlist.carRegistrationDate}}</p>
                            </div>
                        </a>
                        <img src="{{productlist.img.small100[0]}}" alt="no img" style="height: 150px;width:150px">
                    </div>
                    <div class="panel-body">
                        <div class="row pad10">
                            <p>{{productlist.keyFeatures}}</p>
                            <p>{{productlist.mileage}} miles,</p>
                            <p class="pull-left"><b>£{{productlist.price}}</b></p>
                            <p class="pull-right"><a href="#/carDetail?productID={{productlist.productID}}" class="font_maroon"> Details <i
                                    class="fa fa-arrow-right"></i></a></p>
                        </div>
                    </div>
                    <div class="maroon"><a href="">Finance This Car From 159 Per Month</a></div>
                    <p>{{msg}}</p>
                </div>
            </div>

        </div>

        <ul class="list-group material_list_group maroon">
            <li class="list-group-item  maroon text-center"><b>Services</b></li>
        </ul>

        <div class="row">
            <div class="col-md-3">
                <a href="#/finance">
                    <div class="panel panel-default">
                        <div class="thumbnail">
                            <div class="caption">
                                <b>Coming Soon</b>


                            </div>
                            <img src="assets/images/service.png" alt="...">
                        </div>
                        <!--  <div class="panel-body">
                              <div class="row pad10">
                                  <div class="pull-left">
                                      <p>Finance</p>
                                  </div>
                                  <div class="pull-right">
                                      <p><span>5,498</span></p>

                                      <p><a href=""> Details <i class="fa fa-arrow-right"></i></a></p>
                                  </div>
                              </div>
                          </div>-->
                        <div class="maroon">Financing</div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#/partExchange">
                    <div class="panel panel-default">
                        <div class="thumbnail">
                            <div class="caption">
                                <b>Coming Soon</b>

                                <!--     <p><i class="fa fa-mobile"></i> maroon, diesel, automatic</p>

                                     <p><i class="fa fa-arrow-right"></i> Sat Nav</p>

                                     <p><i class="fa fa-cube"></i> Leather</p>

                                     <p><i class="fa fa-star"></i> maroontooth</p>-->
                            </div>
                            <img src="assets/images/service.png" alt="...">
                        </div>
                        <!-- <div class="panel-body">
                             <div class="row pad10">
                                 <div class="pull-left">
                                     <p>WD59(2010)</p>

                                     <p>56,850 miles</p>

                                     <p>500 Fitted Extras!</p>
                                 </div>
                                 <div class="pull-right">
                                     <p><span>5,498</span></p>

                                     <p><a href=""> Details <i class="fa fa-arrow-right"></i></a></p>
                                 </div>
                             </div>
                         </div>-->
                        <div class="maroon">Part Exchange</div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#/warranty">
                    <div class="panel panel-default">
                        <div class="thumbnail">
                            <div class="caption">
                                <b>Coming Soon</b>


                            </div>
                            <img src="assets/images/service.png" alt="...">
                        </div>

                        <div class="maroon">Warranty</div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#/renting">
                    <div class="panel panel-default">
                        <div class="thumbnail">
                            <div class="caption">
                                <b>Coming Soon</b>

                            </div>
                            <img src="assets/images/service.png" alt="...">
                        </div>

                        <div class="maroon">Renting/Hire</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<desk-footer></desk-footer>

