<footer>
    <div class="container">
        <div class="footerWrapper">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                   <h4>Vehicles</h4>
                    <p><a href="#/carList" >Autos City Cars</a></p>
                    <p><a href="#/carList" >Autos City Vans</a></p>
                  
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                   <h4>Quick Links</h4>
                    <p><a href="#/financeDeals">Car Finance Deals</a></p>
                    <p><a href="#/finance">Finance</a></p>
                    <p><a href="#/partExchange">Part Exchange</a></p>
					 <p><a href="#/warranty">Warranty</a></p>
					  <p><a href="#/renting">Renting/Hire</a></p>
                </div>

               <div class="col-lg-4 col-md-4 col-sm-4">
                    <h4>Contact Us</h4>
                    <p>13 Thornton Heath</p>
                    <p> CR7 8RU</p>
                    <p>Croydon</p>
					<p>079 3044 1928 </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footerLastWrapper" >
        <h5 class="text-right" ><a href="http://green-apex.com/green%20apex/index.php" target="_blank"> Green Apex</a></h5>
    </div>
</footer>