<desk-header xmlns="http://www.w3.org/1999/html"></desk-header>
<desk-menubar></desk-menubar>
<header class="fsliderimage">

</header>
<section class="financeWrapperContent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 financeFormleft ">

                    <p class="text-justify">At Autos City we are pleased to provide a wide range of finance facilities.
                        They
                        are described below
                        in detail. In addition, you can complete an application through our secure online proposal form
                        which will pass your information directly to our finance Partner. You will then be guided
                        through
                        the process by them. In gaining preapproval it allows you to make a considered choice on your
                        next
                        car purchase in a quick and convenient manner through a greater selection of finance
                        products.</p>
                    <p><a href=""> 1. Find your vehicle</a></p>
                    <p><a href=""> 2. Choose your finance product</a></p>
                    <p><a href=""> 3. Tailor your quotation</a></p>
                    <p><a href=""> 4. Apply online</a></p>
                    <p><a href=""> 5. Visit us and view the car</a></p>

                </div>
                <div class="col-md-9">
                    <div class="panel panel-info">
                        <div class="panel-heading "><h4 class="text-center m">FINANCE CALCULATOR</h4></div>
                        <div class="panel-body">
                            <div class="finance_pad30T  "></div>
                            <label class="finance_mrg24L finance_mrg24R">My Credit Score is</label>
                            <select class="selectBox finance_mrg24L finance_mrg24R">
                                <option>Good</option>
                                <option>Fair</option>
                                <option>Poor</option>
                                <option>Bad</option>
                            </select>
                            <div class="finance_pad30T"></div>
                            <label class="finance_mrg24L finance_mrg24R">I would like repay over</label>
                            <select class="selectBox finance_mrg24L finance_mrg24R" ng-model="month">
                                <option value="12 ">12 Months</option>
                                <option value="36">36 Months</option>
                                <option value="48">48 Months</option>
                                <option value="60">60 Months</option>
                            </select>
                            <div class="finance_pad30T"></div>
                            <label class="finance_mrg24L finance_mrg24R">I would Like to borrow</label>
                            <div class="form-group materail_input_block">
                                <input type="text" class="form-control materail_input " placeholder="£7000" ng-model="modi">
                            </div>
                            <div class="finance_pad30T"></div>
                            <label class="finance_mrg24L finance_mrg24R">Intrest</label>
                            <div class="form-group materail_input_block">
                                <input type="text" class="form-control materail_input " placeholder="Intrest" ng-model="interest">
                            </div>
                            <div class="finance_pad15T"></div>
                            <div class="panel panel-footer finance_mrg24L finance_mrg24R">
                                <table class="table ">
                                    <tr>
                                        <td>APR</td>
                                        <td>{{ratetotal | number:2}}%</td>
                                    </tr>
                                    <tr>
                                        <td>Total Repayment:</td>
                                        <td>£{{TotalRepayment | number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Cost of Credit:</td>
                                        <td>£{{TotalCostofCredit | number:2}}</td>
                                    </tr>
                                </table>
                            </div>
                            <button class="btn btn-default  material_btn material_btn_xs material_btn_info pull-right finance_mrg24L finance_mrg24R"
                                    type="button" data-toggle="dropdown" ng-click="aprCalculation()">
                                <b>Apply Now</b>
                            </button>


                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<desk-footer></desk-footer>
