<desk-header xmlns="http://www.w3.org/1999/html"></desk-header>
<desk-menubar></desk-menubar>
<header class="fdsliderimage">

</header>
<section class="financeDealsWrapperContent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="notice notice-lg">
                    <p class="text-justify">
                        <i class="fa fa-car fa-5x fa-pull-left fa-border"></i><strong>Buying a new vehicle – </strong>whether
                        it is a brand new model or a secondhand one – is always exciting.
                        <br> Arranging the finance deal you need to cover the cost, however, is not.
                        While many people spend hours comparing and contrasting different makes and models and then
                        haggle
                        hard to get the price down. <br><br>The number of people who take the time to scour the market
                        for the best
                        car finance deal is much smaller as a result and you could be one of them too only by contacting
                        us.
                        Fill out basic application form given below. A member of our customer service team will call you
                        back once you’ve filled the form to confirm if you have been approved.<br><br>
                        <strong>Note: Further information would be required via telephone to continue the full
                            application process.
                            Before making an application please go through different finance options available.</strong>
                    </p>
                </div>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    <b>Hire Purchase</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="financeDeals_pad15T"></div>
                                <p class="text-justify"><i class="fa fa-history fa-3x fa-pull-left fa-border"></i>Hire
                                    Purchase is similar to borrowing a sum of money from a bank and
                                    paying it back over a fixed period of time, with interest. This is a type of secured
                                    loan which is often preferred over alternative (unsecured) loans. This is because
                                    they
                                    allow a greater borrowing limit. The term "secured loan" means exactly that, a loan
                                    that
                                    the lender can secure against an asset (in your case, the vehicle). Hire purchase
                                    also
                                    gives you additional rights over those of a personal loan. This is only available
                                    through dealers that have passed the stringent approval process of the finance
                                    companies.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    <b>Low Payment Plan</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="financeDeals_pad15T"></div>
                                <p class="text-justify">
                                    <i class="fa fa-history fa-3x fa-pull-left fa-border"></i>Low Payment Plan allows
                                    you
                                    to have your next car with lower monthly
                                    repayments. The way this is achieved is by deferring an amount of the total cost of
                                    the
                                    vehicle to the end of the agreement. This amount is known as the Residual Value
                                    (RV).<br><br>

                                    It is the customers responsibility to settle the final payment either though
                                    additional
                                    finance, cash or settlement by part-exchange.<br><br>

                                    The Low Payment Plan product and has no tie to a mileage contract. Repayment periods
                                    are
                                    typically taken over 2, 3 or 4 years and settlement can be made at any stage of the
                                    agreement. We would recommend that you select your anticipated annual mileage to a
                                    realistic level so that a realistic Residual Value is set for the vehicle. At the
                                    end of
                                    the agreement you have three options:
                                <ul>
                                    <li>If you want to keep the vehicle, you can simply pay off or refinance the
                                        outstanding
                                        balloon payment.
                                    </li>
                                    <li>You can come back to us and part exchange your vehicle for a new one. If the
                                        trade-in
                                        value is greater than the RV, the difference can be used towards a deposit on
                                        the next
                                        agreement.
                                    </li>
                                    <li>You can sell the vehicle privately and keep any profit over and above the RV.
                                    </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    <b> Why Apply Online?</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="financeDeals_pad15T"></div>
                                <p class="text-justify">
                                    <i class="fa fa-history fa-3x fa-pull-left fa-border"></i>
                                    You don’t have to buy the vehicle, but by applying you register an
                                    interest in the vehicle.<br><br>
                                    You can submit your details at any time, for your convenience our system is
                                    available 24hrs a day.<br><br>
                                    By arranging your finance in advance you can have the comfort of knowing your
                                    finances are in place. <br><br>
                                    The whole process is confidential and your information will not be shared to third
                                    party.<br><br>
                                    The service is provided on a secure server so your details are kept totally safe.
                                </p></div>

                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                    <b> Glossary </b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="financeDeals_pad15T"></div>
                                <p class="text-justify">
                                    <i class="fa fa-angle-right fa-3x fa-pull-left fa-border"></i>
                                    <strong> APR (Annual percentage rate) - </strong>a standard method of calculating
                                    the full cost of the
                                    interest and other charges on the finance. You should use the APR to compare the
                                    cost of different finance options, although lease agreements will not show an APR.
                                    Balloon Payment - a one-off payment made by you at the end of some finance
                                    agreements. It will reduce your monthly payments.<br>
                                    <br>
                                    <strong>Credit Rating -</strong> a scoring system used by finance companies to help
                                    decide how much
                                    finance to make available to you.<a href=""> Click here</a> for more information
                                    Flat rate - the base interest rate charged on the finance. Dealers will sometimes
                                    quote a monthly or annual flat rate but you should ask for the APR, which more
                                    accurately describes the true cost of the finance.<br><br>
                                    <strong>Residual value -</strong> the value of your car at the end of the finance agreement, after a
                                    certain time and mileage. It may or may not be guaranteed, depending on the terms of
                                    your agreement.<br><br>
                                    <strong>Total amount payable -</strong> the total cost of the finance, including any interest or
                                    other charges, if you repay the finance over the agreed period. This is a good way
                                    to compare the actual cost of various types of motor finance.

                                </p></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<desk-footer></desk-footer>

